In [21]:
import pandas as pd

df = pd.read_csv("/home/kurinchiban/Desktop/gcs-bq-automation/data_manipulation/Commodity.csv", header=0, quotechar='"', delimiter=',')

In [22]:
df["Reported Date"] = pd.to_datetime(df["Reported Date"])
df['Reported Date'] = pd.to_datetime(df['Reported Date']).dt.strftime("%Y-%m-%d")

df_1 = df.iloc[1:5000] 
df_2 = df.iloc[5000:10000]

In [23]:
df_1.to_csv("commodity_01.csv", index=False)
df_2.to_csv("commodity_02.csv", index=False)

In [24]:
import pandas as pd

df = pd.read_csv("/home/kurinchiban/Desktop/gcs-bq-automation/data_manipulation/commodity_01.csv")

df_3 = df.iloc[1:10] 
df_4 = df.iloc[10:20]

In [25]:
df_3.head()

,State Name,District Name,Commodity,Market Name,Variety,Group,Arrivals Tonnes,Min Price Rs_per_Quintal,Max Price Rs_per_Quintal,Modal Price Rs_per_Quintal,Reported Date
1,Gujarat,Dahod,Drumstick,Dahod(Veg. Market),Other,Vegetables,0.13,3000.0,4000.0,3700.0,2019-01-19
2,Gujarat,Vadodara(Baroda),Drumstick,Padra,Other,Vegetables,0.60,2000.0,3000.0,2500.0,2019-01-19
3,Gujarat,Surat,Drumstick,Surat,Other,Vegetables,6.50,2750.0,4250.0,3500.0,2019-01-19
4,Gujarat,Surendranagar,Drumstick,Vadhvan,Drumstick,Vegetables,0.90,2750.0,3000.0,2875.0,2019-01-19
5,Gujarat,Vadodara(Baroda),Drumstick,Vadodara(Sayajipura),Other,Vegetables,0.70,2500.0,3000.0,2800.0,2019-01-19

In [26]:
df_3.to_csv("commodity_03.csv", index=False)
df_4.to_csv("commodity_04.csv", index=False)

df_3.to_csv("commodity_03.csv", index=False)
df_4.to_csv("commodity_04.csv", index=False)